<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/style.css}"/>
<script type="text/javascript" th:src="@{/js/validation.js}">

</script>


<h1 style="color:silver;text-align: center;">Add Products</h1>
<br>

<form th:action="@{/user/add}" method="POST"  th:object="${prod}"    enctype= "multipart/form-data">
    <table align="center" bgcolor="LavenderBlush">
       <tr>
          <td>Product Name ::</td>
          <td><input type="text" th:field="*{prodName}"/><span th:if="${#fields.hasErrors('prodName')}" th:errors="*{prodName}"></span> </td> 
       </tr>
       <tr>
          <td>Description ::</td>
          <td><textarea  th:field="*{desc}"></textarea><span th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></span></td>
       </tr>
       <tr>
          <td>Image ::</td>
          <td><input type="file" th:field="*{img}"/><span th:if="${#fields.hasErrors('img')}" th:errors="*{img}"></span></td>
       </tr>
       <tr>
          <td>Sell Price ::</td>
          <td><input type="text" th:field="*{sellPrice}"/><span th:if="${#fields.hasErrors('sellPrice')}" th:errors="*{sellPrice}"></span></td>
       </tr>
       <tr>
          <td>Cost Price ::</td>
          <td><input type="text"  th:field="*{costPrice}"/><span th:if="${#fields.hasErrors('costPrice')}" th:errors="*{costPrice}"></span></td>
       </tr>
       <tr>
          <td>Stock unit ::</td>
          <td><input type="text" th:field="*{stockUnit}"/><span th:if="${#fields.hasErrors('stockUnit')}" th:errors="*{stockUnit}"></span></td>
       </tr>
       <tr>
          <td>Date ::</td>
          <td><input type="date" th:field="*{date}"/><span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span></td>
       </tr>
       <tr>
          <td colspan="1"><input type="submit" value="Add Product"/></td>
          <td colspan="1"><input type="reset" value="Cancel"/></td>
       </tr>
    </table>
</form>

<center>
    <h2 style="color:red" th:text="${resultMsg}"/>
    <a th:href="@{/user/displayseller}"><img th:src="@{/images/back.jpg}" width="50px" height="50px"><br>Back</a>
</center>
</html>
